/* SIDE NAV STYLE*/

/*Removes space between list items*/
.nav-stacked>li+li{
	margin: 0;
}
/*Removes round edges*/
a.list-group-item:first-child{
	border-radius: 0!important;
}

/*Removes borders*/
.nav-stacked>li>a{
	border: none;
	padding: 10px 15px;
	border-radius: 0;
}

/*color + hover effects for side bar*/
.nav-stacked li a:hover{
	background-color: #b7d3f4;
    	color: #555;
}

a.list-group-item.active:hover{
	background-color: rgb(0, 62, 107)!important;
	color: white!important;
}

.nav-stacked li a{
	background: #eaf2ff;
	border: none;
}

a.list-group-item.active{
	background: #337ab7;
}


#change-view-nav li a:hover, .nav-tabs li a:hover, .nav-stacked li a:hover{
	transition: background-color 0.4s;
}

/*-------------------------------------------------------------------------------------------*/
/*GLOBAL NAV BAR STYLE*/

nav.navbar.navbar-inverse li a:hover{
	color: white;
    	transition: color 0.5s;
}

.dropdown-menu li a{
	color: #262626!important;
	transition: background-color 0.4s;
}

/*-------------------------------------------------------------------------------------------*/
/*PRINT & PROJECTOR LINKS STYLE*/
#change-view-nav{
	float: right!important;
}

#change-view-nav i {
	font-size: 20px;
}


/*-------------------------------------------------------------------------------------------*/
/* GENERAL */

code{
    color: #2196F3;
    background-color: #eaf6f9;
    font-weight: bold;
}

h2, h3, h4{
	margin: 3% 0;
    	margin-top: 5%;
}

.navbar{
	border: none;
	border-radius: 0!important;
}

#lecture{
	word-break: break-word;	
}


h1 {
    border-bottom: solid 7px rgb(51, 122, 183);
	margin: 4% 0;
}


.h2, h2 {
    font-size: 25px;
    background-color: rgba(77, 144, 254, 0.12);
    padding: 12px 10px;
    border: transparent 1px solid;
    border-bottom: 6px solid rgba(77, 144, 220, 0.32);
    border-radius: 12px;
}

.contact-text{
	border: none;	
}

.form-horizontal .form-group{
	margin-right: 100px;
}

#print-link{
	margin-right: 0!important;
}

#projector{
	padding-right: 8px!important;
	padding-top: 15px;
	padding-bottom: 15px;
}


/*-------------------------------------------------------------------------------------------*/
/* SMALL SCREEN/MOBILE */

@media (max-width: 767px) {
    	#change-view-nav li a{
		text-align: right;
    		margin-right: 25px;
    	}
	
	#lecture img, #lecture * img{
	    width: 80vw;
	    height: auto;
	    margin: 4% 0 4% 4%;	
	}
	
	p{
	    margin: 20px 0px 10px	
	}
	
	h2{
	    margin: 6% 0;
    	    margin-top: 8%;
	}
	
	
	.form-horizontal .form-group{
		margin-right: -15px;
	}
}

/*-------------------------------------------------------------------------------------------*/
/* LARGER SCREEN*/

@media (min-width: 767px) {
    	.nav-stacked{
		margin-right: 25%;
    		margin-left: -30%;
    	}
	
	#lecture img, #lecture * img{
		margin: 3% 8%;
		height: auto;
	}
}



/*-------------------------------------------------------------------------------------------*/
/*PRINT BUTTON*/

#print-button{
    border: none;
    background: transparent;
    padding: 0px;
    margin-top: 15px;
    text-decoration: none!important;
}

#print-link:hover {
    color: white!important;
    transition: color 0.4s;
}

#print-link{
	text-decoration: none!important;
	color: #9d9d9d;
	padding: 15px;
}
