main {
  padding-top: 130px;
}

.global-links {
  margin: auto;
}

/* Scroll to top button style */
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 20px;
  font-size: 50px;
}
/* End Scroll to top button style */

footer {
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}

/* Navbar fixed class, turn on after scroll */
#gloabalNavbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
#navbar {
  position: fixed;
  top: 16%;;
  left: 6%;
  width: 17%;
}
#navbar .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* End Navbar fixed */



.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: #fff;
}

/* Temporary fix for navbar responsiveness */
.navbar-toggler {
    z-index: 1;
}

@media (max-width: 767px) {
  #navbar {
    position: static;
    width: 100%;
    margin: auto;
  }
  main {
    padding-top: 49px;
  }
}

@media (max-width: 576px) {
    nav > .container {
        width: 100%;
    }
}
@media (min-width: 768px) {
  #myNavbar1 ul {
    margin-right: 0;
  }
}
