html, body, .wrapper{
		height: 100%;
		min-height: 100%;
		margin: 0;

		letter-spacing: 1px;
		font-size: 20px;
		font-family: sans-serif;
	}

	.parallax{
		position: relative;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		transform: translateZ(0);
	}


	.parallax_1{
		min-height: 100%;
		background-image: url('http://bcitcomp.ca/students/ddimchuk/homepage/project/meta/images/bcit-transparent.jpg');
	}

	.parallax_2{
		min-height: 50%;
		background-image: url('http://bcitcomp.ca/students/ddimchuk/homepage/project/meta/images/code-transparent.jpg');

	}


	.parallax_3{
		min-height: 50%;
		background-image: url('http://bcitcomp.ca/students/ddimchuk/homepage/project/meta/images/connection-transparent.jpg');

	}

	.parallax_4{
		min-height: 50%;
		background-image: url('http://bcitcomp.ca/students/ddimchuk/homepage/project/meta/images/contact-img-transparent.jpg');
	}

	.parallax_5{
		min-height: 50%;
		background-image: url('http://bcitcomp.ca/students/ddimchuk/homepage/project/meta/images/project-sample-transparent.jpg');
	}

	img{
		left: 0;
		right: 0;
		margin: auto;
	}

	#intro-img{
		max-height: 450px;
		position: absolute;
		top: 10%;
		bottom: 0;
	}


	#sitemap-img{
	    width: auto;
		max-width: 95%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-top: 30px;
	}


	#menu{
		display: block;
		background: white;
		position: absolute;
		width: 100%;
		left: 0px;
		height: 55px;
		overflow: hidden;
	}

	#menu a{
		padding: 20px 10px;
		margin-right: 15px;
		color: rgb(68, 135, 219);
		font-size: 15px;
		font-weight: bold;
		font-family: arial,sans-serif;
		letter-spacing: 0.5px;
	}

	#menu a:visited{
		color: rgb(41, 96, 167);
	}


	#menu a:hover{
		background-color: #e6e6e6;
		transition: background-color 0.8s;
	}

	.caption{
		font-size: 40px;
		letter-spacing: 6px;
		background-color: rgb(0, 62, 107);
		padding: 15px;
		text-align: center;

		font-family:'Calibri Light','Gill Sans','Open Sans',Geneva,Helvetica,Arial,sans-serif;
		color: white;
	}

	.caption.intro{
		position: absolute;
		top: 40%;
		left: 35%;
		width: 30%;
		font-size: 50px;
	}

	.caption.heading h1{
		font-size: 50px;
		padding: 25px;
		font-family: 'Calibri Light','Gill Sans','Open Sans',Geneva,Helvetica,Arial,sans-serif;
		font-weight: normal;
	}

	.section-title h1{
		font-weight: normal;
	}


	.content{
		background-color: white;
		padding-right: 15%;
		padding-left: 15%;
		padding-top: 5%;
		padding-bottom: 5%;
		text-align: center;
		position: relative;
		font-family:'Calibri Light','Gill Sans','Open Sans',Geneva,Helvetica,Arial,sans-serif;

	}


	footer{
		position: fixed;
		height: 45px;
		width: 100%;
		text-align: center;
		font-size: 15px;
		padding: 15px 0 4px 0;
		background-color: rgb(0, 62, 107);

		bottom: 0;

	}

	footer a{
		padding-right: 30px;
		text-align: center;
		font-family:'Calibri Light','Gill Sans','Open Sans',Geneva,Helvetica,Arial,sans-serif;
		color: #cccccc;
	}
		
	footer a:hover{
		color: white;
    		transition: color 0.4s;
	}


	.section-title{
		position: absolute;
		padding: 20px;
		width: 100%;
		left: 0;
		top: 92%;

		font-size: 40px;
		letter-spacing: 6px;
		background-color: rgb(0, 62, 107);
		text-align: center;
		font-family:'Calibri Light','Gill Sans','Open Sans',Geneva,Helvetica,Arial,sans-serif;
		color: white;

	}


	table {
		font-family: 'Calibri Light','Gill Sans','Open Sans',Geneva,Helvetica,Arial,sans-serif;
		border-collapse: collapse;
		text-align: center;

		width: auto;
		left: 0;
		right: 0;
		margin: auto;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 15px 8px;
	}

	#improvements-table td, th{
		text-align: center;
	}

	#about-table  tr:nth-child(odd), #improvements-table tr:nth-child(odd) {
		background-color: #f2f2f2;
	}

	#contact-table * td, th {
		border: 1px solid white;
		text-align: center;
	}
