.list-group-item{
	background-color: #eee;
	border: none;	
}

.nav-stacked>li+li{
	margin: 0;
}

.list-group-item:first-child{
	border-radius: 0!important;
}

.nav-stacked>li>a{
	border: none;
	padding: 10px 15px;
	border-radius: 0;
}
